# {{ ansible_managed }}

[Unit]
Description=InfluxDB-Relay is a service to replicate InfluxDB data for high availability
Documentation=https://github.com/influxdata/influxdb-relay
After=network.target

[Service]
User={{ influxdb_relay_user }}
Group={{ influxdb_relay_group }}
LimitNOFILE=65536
ExecStart=/bin/sh -c "{{ influxdb_relay_paths_bin }}/influxdb-relay -config {{ influxdb_relay_paths_config }} >> {{ influxdb_relay_paths_log_dir }}/influxdb-relay.log 2>&1"
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target
