# {{ ansible_managed }}

[[http]]
name = "cmm-influx-http"
bind-addr = "{{ influxdb_relay_http_addr }}:{{ influxdb_relay_http_port }}"
output = [
{% for host in influxdb_relay_write_hosts | mandatory -%}
  { name = "{{ host }}", location = "http://{{ host }}:{{ influxdb_client_port }}/write", buffer-size-mb = {{ influxdb_relay_buffer_size_mb }}, max-batch-kb = {{ influxdb_relay_max_batch_size_kb }}, max-delay-interval = "{{ influxdb_relay_max_delay_interval }}" },
{%- endfor %}
]
